* {
    /* border:#1976D2 solid 1px */
}

/* element selector to give default values in body*/
body {
    font-size: 14px;
    margin:0px;
    background-color: #E57373;
    font-family: Open Sans,sans-serif ;
}

/* used id selector as it has higer precendence*/
#search-icon {
    font-size: 1.5em;
}

/* used id selector as it has higer precendence*/
#menu-icon {
    font-size: 1.5em;
}


#footer-icon {
    font-size: 1.5em;
    padding-right: 10px;
}

.container {
    display: grid;
    /* padding: 10px; */
    grid-template-rows: 100px 1fr 100px;
}
.header {
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    padding: 0px 20px 0px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }


.blog-content {
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    border-radius:20px;
    grid-template-columns: repeat(5, 1fr);
}

.responsive-content {
    grid-template-columns: repeat(7, 1fr);
}
@media (min-width: 0px) and (max-width:350px) {
    .responsive-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 350px) and (max-width:525px) {
    .responsive-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 525px) and (max-width:875px) {
    .responsive-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 875px) and (max-width:1225px) {
    .responsive-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1225px) and (max-width:1575px) {
    .responsive-content {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1575px) and (max-width:1925px) {
    .responsive-content {
        grid-template-columns: repeat(6, 1fr);
    }
}




.blog-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: #00f solid 1px; */
    flex:1
}

.blog-item img {
    width:100%;
    height:150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

a {
    color: #1976D2
}

.blog-title {
    color: #E65100;
    font-size: 1.2em;
}

.date {
    color: #9e9e9e;
}

.blog-description {
    font-size: 1.1em;
}

.footer {
    margin-top: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icon-container {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

#footer-icon {
    border-radius: 100px;
    border: #fff solid 1px;
    padding: 10px;
    margin-right: 10px;
}