/* Blog Contents Styling : Title/Image/descrion/date */
.container .blog-content {
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    border-radius:20px;
    grid-template-columns: repeat(5, 1fr);
}

.blog-content .blog-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blog-item .blog-title {
    color: #3b5998;
}

.blog-content .blog-item img {
    width:100%;
    height:150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.blog-item .text-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: #00f solid 1px; */
    flex:1
}

.blog-item .date {
    color: #9e9e9e;
    margin-bottom: 15px;
}

.blog-item .continue-reading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
